.container-show {
  height: 500px;
  ul {
    margin: 40px auto;
    padding: 0;
    list-style: none;
    font-size: 25px;
  };
  img {
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  }
}

.recipe-title {
  background-color: $green;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}
