<div class="banner">
  <div class="banner-content">
    <h1>Cool Cocktails</h1>
    <p>Share your cocktail idea!</p>
    <button class="center btn btn-perso btn-banner"><%= link_to 'Create a New Cocktail', new_cocktail_path %></button>
  </div>
</div>
